@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-buttons button:hover svg {
  fill: #fff;
}
.slider-buttons button:disabled svg {
  fill: #cccccc;
}

/*carousel*/
.slider {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
  overflow-x: auto;
  padding: 5px;
}

.slider::-webkit-scrollbar {
  width: 0;
}

.pagination-indicator {
  line-height: 20px;
  opacity: 1;
  width: 20px;
  height: 4px;
  background-color: #dcdcdc;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination-indicator.active {
  background-color: red;
}
